<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <!-- ... -->
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead>
      <tr>
        <th scope="col">Todos</th>
        <th><!-- --></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td>[[${todo.name}]]</td>
        <td>
          <div class="float-end text-nowrap">
            <a th:href="@{/todos/edit/{id}(id=${todo.id})}" class="btn btn-sm btn-info">Edit</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>